@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_inter);
}

:root {
  --font_inter: "Inter", sans-serif;
  --font_light: #FFF;
  --font_dark: #000;


  --header_bg: #CBCBCB;
  --sidebar_bg: #DDD;
  --button_bg: #E2E2E2;

  

}

html, body {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

