.header {
  min-height: 8vh;
  background: var(--header_bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  margin-left: 28px;
}

.header_logo img {
  width: 140px;
  height: 36px;
}

.header_profile {
  display: flex;
  gap: 8px;
  margin-right: 28px;
}

.header_profile_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_profile_name h3 {
  font-family: var(--font_inter);
  font-size: 1.5rem;
}

.header_profile_name p {
  font-family: var(--font_inter);
  font-size: 0.75rem;
  text-align: end;
}

.header_profile_img img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* =========================================
   ESTILOS DO DROPDOWN MENU
========================================= */

/* A caixinha do menu flutuante */
.dropdown-menu {
  position: absolute;
  top: 110%; /* Fica logo abaixo da foto de perfil */
  right: 0; /* Alinhado à direita */
  background-color: #f0f0f0; /* Cor de fundo igual ao protótipo */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombrinha para dar profundidade */
  width: 200px;
  padding: 10px 0;
  z-index: 1000; /* Garante que fique por cima de tudo na tela */
  display: flex;
  flex-direction: column;
}

/* Os botões dentro do menu */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 15px; /* Espaço entre o ícone e o texto */
  padding: 12px 20px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #111;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: rgb(201, 198, 198);
}

.dropdown-divisor {
  margin: 0 20px; 
  border: none;
  border-top: 1px solid #222; 
}

